[Unit]
Description=Rotate wallpaper
After=awww-daemon.service
Requires=awww-daemon.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wallpaper-random.sh
