@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Zen Maru Gothic", "Symbols Nerd Font";
	font-weight: 500;
    font-size: 14px;
    min-height: 0;
}

/* Main waybar */
window#waybar {
    background-color: transparent;
}

/* Groups */
#left-workspaces, #left-windows, #center, #right-inhibitor,
#right-device, #right-tray, #right-clock, #right-power {
    background-color: @background;
	background-image: url("/home/mei/.local/share/waybar/paper-pattern.webp");
	background-repeat: repeat;
	background-position: 152px 290px;
    background-blend-mode: hard-light;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(45, 22, 6, 0.5);
    margin: 6px 2px 2px 2px;
    padding: 0px 2px
}

#left-workspaces {
	margin-left: 10px;
}

#right-power {
	margin-right: 10px;
}

/* Widgets */
#workspaces button, #idle_inhibitor, #systemd-failed-units, #pulseaudio, #gamemode,
#network, #cpu, #memory, #backlight, #tray, #clock, #custom-power {
	background-image: url("/home/mei/.local/share/waybar/paper-pattern.webp");
	background-repeat: repeat;
	background-position: 152px 290px;
    background-blend-mode: hard-light;
    padding: 0 6px;
    margin: 2px 2px;
    background-color: @primary;
    color: shade(@primary, 0.5);
    border-radius: 6px;
	transition: background-color 1.5s ease, color 1.5s ease;
}

#clock {
	min-width: 60px;
}

#window {
	padding: 0 10px;
    color: shade(@primary, 0.5);
	transition: color 1.5s ease;
}

/* make window module transparent when no windows present */
window#waybar.empty #center {
    background-color: transparent;
	background-image: none;
    box-shadow: none;
}

/* Font height */
label {
	margin: -4px 0 -4px 0;
}

#workspaces {
	margin: 0px 2px 0px 2px;
}

#workspaces button {
	transition: background-color 1.5s ease, color 1.5s ease;
	margin: 2px 1px;
}

#workspaces button.active {
	background-color: shade(@secondary, 0.95);
	color: shade(@primary, 0.3);
}

#workspaces button:hover {
	/* background-image is necessary because GTK3 forces animation with background-image */
	background-color: shade(@secondary, 1.2);
	background-image: url("/home/mei/.local/share/waybar/paper-pattern.webp");
	background-repeat: repeat;
	background-position: 152px 290px;
    background-blend-mode: hard-light;
}

.cffi-niri-windows .column, .cffi-niri-windows .floating {
    padding: 2px 0px 0px 0px;
}

.cffi-niri-windows .tile {
    background-color: @primary;
	background-image: url("/home/mei/.local/share/waybar/paper-pattern.webp");
	background-repeat: repeat;
	background-position: 420px 320px;
    background-blend-mode: hard-light;
    border-radius: 6px;
	transition: background-color 1.5s ease;
}

.cffi-niri-windows .tile:hover {
    background-color: shade(@secondary, 1.2);
}

.cffi-niri-windows .tile:active {
    background-color: shade(@secondary, 0.95);
}

.cffi-niri-windows .tile.urgent {
    background-color: @red;
}
